{:deps {:aliases [:dev]}
 :nrepl {:port 7002}
 :builds
 {:frontend
  {:target :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :modules  {:app {:entries [kit.guestbook.client]
                     :init-fn kit.guestbook.client/mount-root}}
   :devtools {:after-load kit.guestbook.client/mount-root}}}}
